# NikGapps debloater - Supports all devices, all android versions
# Debloat your system as per your need
# just enter the path of the file/folder that you want to remove
# For E.g. 
# /system/app/YouTube
# /system/priv-app/Calculator
# you can also simply mention the Folder name and Debloater will take care of it
# For E.g.
# YouTube
# this will delete the folder from /system/app/YouTube, /system/priv-app/YouTube, /system/product/app/YouTube, /system/product/priv-app/YouTube 
# should you have any further doubts/questions don't hesitate to ask in the telegram channel (@NikGapps)
# removing following apps by default, comment them by adding # before them like below if you don't want to remove them during installation
# YouTube
#-------------------------------------------------------#
## Debloater Configuration
#-------------------------------------------------------#


# Removal of setup screen

# PixelSetupWizard
# GoogleRestorePrebuilt
# SetupWizardPrebuilt
/system/product/overlay/PixelSetupWizardOverlay.apk
PartnerSetupPrebuilt


# Removal of the Google App (Recommended by CyberCat ADBAppControl)
# (Stk = sim tool kit, velvet = The Google App)
Photos
BookmarkProvider
Stk
talkback
Velvet
AndroidAutoStubPrebuilt


# Removal of the Google App (Has a FOSS Replacement)
# (LatinIMEGooglePrebuilt = GBoard)

CalculatorGooglePrebuilt
CalendarGooglePrebuilt
Chrome
Chrome-Stub
TrichromeLibrary
TrichromeLibrary-Stub

RecorderPrebuilt
SafetyHubPrebuilt
# LatinIMEGooglePrebuilt

PrebuiltGmail
FilesPrebuilt
Maps


# Removal of the Google App (Hidden by Default, requires updates)
ApertureLensLauncher
arcore
LocationHistoryPrebuilt
ScribePrebuilt
SoundAmplifierPrebuilt
GoogleTTS
TagGoogle
WallpaperEmojiPrebuilt
PixelLiveWallpaperPrebuilt


# Google EvoX spesifics
WeatherPixelPrebuilt
VoiceAccessPrebuilt
SwitchAccessPrebuilt
AmbientStreaming


# Google App (Others)
Flipendo


# Removal of AOSP Bloat
Aperture
FM2


# ProjElixir spesifics
GameSpace
ViMusic

# EvoX/ArrowOS spesifics
bcr
GCamGOPrebuilt
Papers
AiWallpapers